@inherits LayoutComponentBase

<MainContainer>
  <HeaderRegion>
    <Header>
      <BrandingRegion>
        <Branding>
          <span class="title">Demo Blazority</span>
        </Branding>
      </BrandingRegion>
    </Header>
  </HeaderRegion>
  <ContentArea>
    <Demo.Blazor.Clarity.Client.Pages.Index />
  </ContentArea>
</MainContainer>

